
<h1>Random Passcode: Passcode # @ViewBag.Count </h1>
<h2>@ViewBag.RandString</h2>
<form asp-action="Process" asp-controller="Home" method="post">
<button type="submit" value="Generate">Generate</button>
</form>